 Volume in drive C is Windows
 Volume Serial Number is C482-62FA

 Directory of c:\git\s3WPRepository\.ebextensions

19/01/2018  01:41 PM    <DIR>          .
19/01/2018  01:41 PM    <DIR>          ..
19/01/2018  01:41 PM                 0 efs.config
               1 File(s)              0 bytes
               2 Dir(s)  38,435,758,080 bytes free
