packages:
  yum:
    nfs-utils: []
    jq: []
files:
  "/tmp/mount-efs.sh" :
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      mkdir -p /mnt/efs
      EFS_NAME=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EFS_NAME')
      mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 $EFS_NAME:/ /mnt/efs || true
      mkdir -p /mnt/efs/uploads
      chown webapp:webapp /mnt/efs/uploads
      mkdir -p /mnt/efs/themes
      chown webapp:webapp /mnt/efs/themes
      mkdir -p /mnt/efs/plugins
      chown webapp:webapp /mnt/efs/plugins
commands:
  01_mount:
    command: "/tmp/mount-efs.sh"
container_commands:
  01-rm-wp-content-uploads:
    command: rm -rf /var/app/ondeck/wp-content/uploads
  02-symlink-uploads:
    command: ln -snf /mnt/efs/uploads /var/app/ondeck/wp-content/uploads
  03-rm-wp-content-themes:
    command: rm -rf /var/app/ondeck/wp-content/themes
  04-symlink-themes:
    command: ln -snf /mnt/efs/themes /var/app/ondeck/wp-content/themes
  05-rm-wp-content-plugins:
    command: rm -rf /var/app/ondeck/wp-content/plugins
  06-symlink-plugins:
    command: ln -snf /mnt/efs/plugins /var/app/ondeck/wp-content/plugins
